$color_1: rgb(90, 90, 90);
$color_2: rgb(210, 210, 210);
$color_3: rgb(230, 230, 230);
$color_4: rgb(120, 120, 120);

//$color_3: blue;
$font-family_1: "Roboto", sans-serif;
$background-color_1: rgb(210, 210, 210);
$background-color_2: rgb(230, 230, 230);
$background-color_3: rgb(170, 170, 170);
$background-color_4: rgb(200, 200, 200);
$background-color_5: rgb(120, 120, 120);
//$background-color_3: #f0f0f0;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
header {
  height: 64px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    #combo {
      margin-left: 24px;
      text-decoration: none;
      color: $color_2;
      img {
        height: 42px;
      }
      span {
        font-size: 24px;
        strong {
          color: $color_1;
        }
      }
    }
    .logos {
      //display: inline;
      vertical-align: middle;
    }

    nav {
      color: $color_1;
      ul {
        text-align: right;
        display: inline-block;
        list-style: none;
        #one,
        #two,
        #three {
          margin-right: 16px;
        }
        #four {
          margin-right: 24px;
        }
        li {
          text-decoration: none;
          display: inline;
        }
      }
    }
  }
}

#start {
  background-color: $background-color_1;
  display: flex;
  align-items: center;

  .starting {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #banner {
    padding: 32px 24px;
    width: 60%;
    img {
      width: 100%;
    }
  }
  #something {
    width: 330px;
    padding-right: 50px;
    color: $color_1;
    h1 {
      font-size: 36px;
    }
    h3 {
      margin: 24px 0;
    }
  }
  .starters {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  #button {
    background-color: $background-color_5;
    color: $color_3;
    justify-content: center;
    padding: 8px;
    width: 100%;
  }
  #button:hover {
    background-color: $background-color_3;
  }
}
#practice {
  padding: 32px 24px;
  background-color: $background-color_2;
  display: flex;

  #practicing {
    padding-right: 24px;
    width: 60%;

    img {
      width: 100%;
      margin-bottom: 32px;
    }
    h2 {
      font-size: 32px;
      color: $color_1;
    }
    p {
      margin-top: 24px;
      color: $color_4;
    }
  }
  #information {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    #imSpFirst {
      .imageSpec {
        padding-top: 0;
      }
    }
    .informations {
      display: flex;
      border-left: 1px solid $color_2;

      .imageSpec {
        width: 35%;
        padding: 16px;
        img {
          width: 100%;
        }
      }

      .infoSpec {
        display: block;
        width: 65%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color_1;

        p {
          margin: 8px 0;
        }
        p,
        a {
          font-size: 14px;
        }
        a {
          color: blue;
          text-decoration: none;
        }
      }
    }
    .informations:hover {
      background-color: $background-color_3;
    }
  }
}
#learning {
  background-color: $background-color_4;
  padding: 32px 72px;
}
#startLearn {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  color: $color_1;
}
#courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 32px;
  .course {
    height: auto;
    background-color: $background-color_2;
    img {
      width: 100%;
    }
    div {
      padding: 16px 16px 24px 16px;
      h3 {
        color: $color_1;
      }
      p {
        font-size: 12px;
        color: $color_4;
      }
      .coursing {
        margin: 8px 0;
      }
    }
  }
}
#thesisExbibit {
  background-color: $background-color_2;

  #teTitle {
    font-size: 24px;
    text-align: center;
    padding: 32px 0;
    color: $color_1;
  }
  #thesCombo {
    display: flex;
    #thesis {
      margin-left: 24px;
      width: 60%;
      video {
        width: 100%;
        margin: 0 0 24px 0;
        padding-right: 24px;
      }
      div {
        h3 {
          color: $color_1;
        }
        p {
          margin-top: 8px;
          padding-bottom: 32px;
          color: $color_4;
        }
      }
    }
  }
}
@media screen and (min-width: 501px) {
  #exhibit {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .exhInfo {
      display: flex;

      .exhImage {
        width: 35%;
        padding: 16px;
        img {
          width: 100%;
        }
      }

      .exhiSpec {
        display: block;
        width: 65%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-right: 36px;
        h3 {
          color: $color_1;
        }
        p {
          margin: 8px 0;
          color: $color_4;
          font-size: 14px;
        }
      }
    }
    .exhInfo:hover {
      background-color: $background-color_3;
    }
  }
}

footer {
  font-size: 12px;
  margin-top: 16px;
  padding: 0 24px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  color: $color_4;
  #terms {
    a {
      margin-left: 12px;
    }
  }
}
.mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  header {
    div {
      nav {
        height: 100%;
        ul {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          li {
            a {
              img {
                width: 2rem;
              }
            }
          }
        }
      }
    }
  }
  #start {
    display: block;
    .starters,
    .starting {
      display: block;
    }
    #banner {
      padding: 0 0 32px 0;
      width: 100%;
    }
    #something {
      padding: 0 16px 32px 16px;
      width: 100%;
      h1 {
        font-size: 34px;
      }
    }
    #button {
      padding: 8px auto;
      text-align: center;
      background-color: $background-color_3;
    }
  }
  #practice {
    display: block;
    padding: 16px 16px 32px 16px;
    #information {
      display: block;
      width: 100%;
      #imSpMiddle {
        margin: 64px 0;
      }
      .informations {
        display: block;
        border-left: none;
        .imageSpec {
          width: 100%;
          padding: 0 0 16px 0;
        }
        .infoSpec {
          display: block;
          width: 100%;
          padding: 0 16px;
        }
      }
    }
  }
}
