* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #combo {
  margin-left: 24px;
  text-decoration: none;
  color: rgb(210, 210, 210);
}
header #combo img {
  height: 42px;
}
header #combo span {
  font-size: 24px;
}
header #combo span strong {
  color: rgb(90, 90, 90);
}
header .logos {
  vertical-align: middle;
}
header nav {
  color: rgb(90, 90, 90);
}
header nav ul {
  text-align: right;
  display: inline-block;
  list-style: none;
}
header nav ul #one,
header nav ul #two,
header nav ul #three {
  margin-right: 16px;
}
header nav ul #four {
  margin-right: 24px;
}
header nav ul li {
  text-decoration: none;
  display: inline;
}

#start {
  background-color: rgb(210, 210, 210);
  display: flex;
  align-items: center;
}
#start .starting {
  display: flex;
  justify-content: left;
  align-items: center;
}
#start #banner {
  padding: 32px 24px;
  width: 60%;
}
#start #banner img {
  width: 100%;
}
#start #something {
  width: 330px;
  padding-right: 50px;
  color: rgb(90, 90, 90);
}
#start #something h1 {
  font-size: 36px;
}
#start #something h3 {
  margin: 24px 0;
}
#start .starters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#start #button {
  background-color: rgb(120, 120, 120);
  color: rgb(230, 230, 230);
  justify-content: center;
  padding: 8px;
  width: 100%;
}
#start #button:hover {
  background-color: rgb(170, 170, 170);
}

#practice {
  padding: 32px 24px;
  background-color: rgb(230, 230, 230);
  display: flex;
}
#practice #practicing {
  padding-right: 24px;
  width: 60%;
}
#practice #practicing img {
  width: 100%;
  margin-bottom: 32px;
}
#practice #practicing h2 {
  font-size: 32px;
  color: rgb(90, 90, 90);
}
#practice #practicing p {
  margin-top: 24px;
  color: rgb(120, 120, 120);
}
#practice #information {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
#practice #information #imSpFirst .imageSpec {
  padding-top: 0;
}
#practice #information .informations {
  display: flex;
  border-left: 1px solid rgb(210, 210, 210);
}
#practice #information .informations .imageSpec {
  width: 35%;
  padding: 16px;
}
#practice #information .informations .imageSpec img {
  width: 100%;
}
#practice #information .informations .infoSpec {
  display: block;
  width: 65%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: rgb(90, 90, 90);
}
#practice #information .informations .infoSpec p {
  margin: 8px 0;
}
#practice #information .informations .infoSpec p,
#practice #information .informations .infoSpec a {
  font-size: 14px;
}
#practice #information .informations .infoSpec a {
  color: blue;
  text-decoration: none;
}
#practice #information .informations:hover {
  background-color: rgb(170, 170, 170);
}

#learning {
  background-color: rgb(200, 200, 200);
  padding: 32px 72px;
}

#startLearn {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  color: rgb(90, 90, 90);
}

#courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 32px;
}
#courses .course {
  height: auto;
  background-color: rgb(230, 230, 230);
}
#courses .course img {
  width: 100%;
}
#courses .course div {
  padding: 16px 16px 24px 16px;
}
#courses .course div h3 {
  color: rgb(90, 90, 90);
}
#courses .course div p {
  font-size: 12px;
  color: rgb(120, 120, 120);
}
#courses .course div .coursing {
  margin: 8px 0;
}

#thesisExbibit {
  background-color: rgb(230, 230, 230);
}
#thesisExbibit #teTitle {
  font-size: 24px;
  text-align: center;
  padding: 32px 0;
  color: rgb(90, 90, 90);
}
#thesisExbibit #thesCombo {
  display: flex;
}
#thesisExbibit #thesCombo #thesis {
  margin-left: 24px;
  width: 60%;
}
#thesisExbibit #thesCombo #thesis video {
  width: 100%;
  margin: 0 0 24px 0;
  padding-right: 24px;
}
#thesisExbibit #thesCombo #thesis div h3 {
  color: rgb(90, 90, 90);
}
#thesisExbibit #thesCombo #thesis div p {
  margin-top: 8px;
  padding-bottom: 32px;
  color: rgb(120, 120, 120);
}
#thesisExbibit #thesCombo #exhibit {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
#thesisExbibit #thesCombo #exhibit .exhInfo {
  display: flex;
}
#thesisExbibit #thesCombo #exhibit .exhInfo .exhImage {
  width: 35%;
  padding: 16px;
}
#thesisExbibit #thesCombo #exhibit .exhInfo .exhImage img {
  width: 100%;
}
#thesisExbibit #thesCombo #exhibit .exhInfo .exhiSpec {
  display: block;
  width: 65%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-right: 36px;
}
#thesisExbibit #thesCombo #exhibit .exhInfo .exhiSpec h3 {
  color: rgb(90, 90, 90);
}
#thesisExbibit #thesCombo #exhibit .exhInfo .exhiSpec p {
  margin: 8px 0;
  color: rgb(120, 120, 120);
  font-size: 14px;
}
#thesisExbibit #thesCombo #exhibit .exhInfo:hover {
  background-color: rgb(170, 170, 170);
}

footer {
  font-size: 12px;
  margin-top: 16px;
  padding: 0 24px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  color: rgb(120, 120, 120);
}
footer #terms a {
  margin-left: 12px;
}/*# sourceMappingURL=styles.css.map */